tbody tr td {
    background-color: inherit !important;
}

.apartment-link {
    text-decoration: none;
    color: #212529;
}

.apartment-link:hover {
    text-decoration: underline;
}

.action-icon {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

.action-icon:hover {
    opacity: 0.6;
}

tbody tr td {
    background-color: inherit !important;
}
